/* @import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap'); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;
}
.card {
    position: relative;   
    width: 30vw;        
    margin-top: 20px;    
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);    
    border-radius: 15px;    
    background: rgba(255, 255, 255, 0.1);    
    overflow: hidden;        
    align-items: center;    
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);    
}
  
.card-info {
padding: 3px 20px;
}

.card-info h1 {
    color: #ffa600da;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
}

.card-info h3 {
    font-size: 2rem;
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;    

}

.card-info ul {
    list-style-type: circle;
    padding: 10px;
}

.card-info ul li {
    font-size: 1.5rem;
    color: white;
    margin-left: 20px;
    padding: 20px;
    text-align: center;
    transition: 0.5s;
}

.card img {
    padding: 10px;
    width: 100%;
    border-radius: 15px;    
}
.card button {
    background-color: red;
    font-size: 1.2rem;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    margin-top: 10px;
    background: white;
    color: #000;
    border-radius: 7px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#main-title {
text-align: center;
color: #ffa600da;
font-size: 4em;
text-shadow: 3px 2px #1f1e1e3a;
}

#cocktail-card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}


#new-cocktail-form {
    margin: 0 auto;
    margin-top: 10px;    
    color: aliceblue;
    text-align: center;
    font-size: 1.3rem;
    width: 30vw;        
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);    
    border-radius: 15px;    
    background: rgba(255, 255, 255, 0.1);    
    overflow: hidden;        
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5); 
}


#new-cocktail-form #form-submit {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: white;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

